[Unit]
Description=BIND Rest API
After=network.target

[Service]
Type=simple
User=bind-rest-api
ExecStart=/bin/bash /home/bind-rest-api/bind-rest-api/systemd/runapi.bash
Restart=on-failure

[Install]
WantedBy=network.target
